---
layout: default
title: Hackathon
section_id: hackathon
skills:
  - title: Web Design
    percentage: 84
  - title: Web Development
    percentage: 95
  - title: Site Management
    percentage: 70
  - title: Branding
    percentage: 61
testimonials:
  - quote: Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est.
    author: David White, Designer at Huglab
  - quote: Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
    author: David White, Designer at Huglab
  - quote: Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est.
    author: David White, Designer at Huglab
---

<div class='full parallax' style='background-image: url(images/banners/hero-crowd.png); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Hackathon" color="#fff" tagline="" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='twelve columns'>
    <h3>#d4dhackathon</h3>
      <p>From March 31, 6PM EDT, to April 2, 2PM EDT, Data for Democracy will be holding our first ever hackathon, where groups and individuals across the world will be working together on civic-oriented data projects. This is a golden opportunity to apply your data and technology skills and interests for social good. Whether you’re new to the D4D community or have been an active member for months, and whether you’d like to jump on board with an existing project or get a new idea off the ground, you’re welcome to be a part of the hackathon!</p>
      <p>In-person meetups will be taking place in Austin, TX, Boston, MA, Chicago, IL, Louisville, KY, New York City, NY, Seattle, WA, and Washington, DC. Other D4D volunteers around the globe will be participating remotely. You can <a href="https://datafordemocracy.org/contact.html">request an invite to join us</a>, or check out <a href="https://twitter.com/search?q=%23D4DHackathon&src=tyah">#d4dhackathon on Twitter</a> for updates on the action.</p>
<!--
    <h3>New York City Live Stream</h3>
<iframe src="https://cdnapisec.kaltura.com/p/1674401/sp/167440100/embedIframeJs/uiconf_id/22908041/partner_id/1674401?iframeembed=true&playerId=kaltura_player_1443038339&entry_id=1_5rh8wk1t&flashvars[streamerType]=auto" width="560" height="395" allowfullscreen webkitallowfullscreen mozAllowFullScreen frameborder="0" style="width: 560px; height: 395px;" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
<span itemprop="name" content="NYU Center for Data Science Live Stream v2"></span>
<span itemprop="description" content="Live Stream"></span>
<span itemprop="duration" content="0"></span>
<span itemprop="thumbnail" content="http://cfvod.kaltura.com/p/1674401/sp/167440100/thumbnail/entry_id/1_5rh8wk1t/version/0/acv/11"></span>
<span itemprop="width" content="560"></span>
<span itemprop="height" content="395"></span>
</iframe>
      <p>A live stream from the D4D Hackathon's NYC location will be available here on Saturday, April 1 from 9:00-9:30 am (EDT) for the introductions and 8:00-9:00pm (EDT) for the showcase.</p>
-->
    <h3>D4D Hackathon Code of Conduct</h3>
      <p><a href="hackathon_coc.html">Code of Conduct and Inclusiveness Policy</a></p>
    </div>
  </div>
</div>


<!--
<div class='full'>
  <div class='row'>
    {% for member in site.data.members %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar" alt="" src="{{ member.avatar }}" />
            <div class='overlay'>
              <div class='intro'>
                <h3>{{member.name}}</h3>
                <p>{{member.position}}</p>
                <ul class='socials'>
                  {% for social in member.socials %}
                    <li>
                      <a href='{{social.link}}'>
                        <i class='fa fa-{{social.icon}}'></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <p class='centered-text'>{{member.desc}}</p>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


<div class='full parallax' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #F9CE06; font-size: 36px;'></i>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="What our clients say" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for testimonial in page.testimonials %}
                <div class='item'>
                  <p class='quote'>"{{testimonial.quote}}"</p>
                  <p class='author'>- {{testimonial.author}}</p>
                  <div class='two spacing'></div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include our-partners.html %}
-->
