---
layout: default
section_id: home
milestones:
  - icon: coffee
    from: 0
    to: 2104
    title: Community members
  - icon: folder-open
    from: 0
    to: 64
    title: GitHub Repos
  - icon: thumbs-up
    from: 0
    to: 189892
    title: Slack messages

slides:
  - bg: images/banners/hero-crowd-2b.png
    small_title:
      klass: bottom-to-top
      text: Using data and technology for
    title:
      klass: bottom-to-top
      text: Social impact
    buttons:
      klass: bottom-to-top
      items:
        - text: Who we are
          link_to: about.html
  - bg: images/banners/hero-crowd-3.png
    klass: centered-text
    small_title:
      klass: bottom-to-top
      text: Our projects are self-organized and
    title:
      klass: bottom-to-top
      text: community led
    buttons:
      klass: bottom-to-top
      items:
        - klass: boxed
          text: What we do
          link_to: projects.html
  - bg: images/banners/hero-love-hat.png
    small_title:
      klass: bottom-to-top
      text: We partner with outside organizations to build
    title:
      klass: bottom-to-top
      text: stronger teams
    buttons:
      klass: bottom-to-top
      items:
        - text: Our partners
          link_to: partners.html


works:
  - image: images/projects/assemble.png
    title: Assemble
    link_to: projects/assemble.html
    klass: graphic-design
    desc: Tools &amp; Infrastructure
  - image: images/projects/campaign-spending.png
    title: Campaign Spending
    link_to: projects/campaign-spending.html
    klass: web-design
    desc: ProPublica
  - image: images/projects/code-of-ethics-small.jpg
    title: Code of Ethics
    link_to: projects/ethics.html
    klass: web-design print
    desc: Data for Democracy is partnering with Bloomberg and BrightHive to develop a code of ethics for data scientists
  - image: images/projects/climate-challenge.png
    title: Climate Action Plan
    link_to: projects/cap-san-diego.html
    klass: web-design print
    desc: City of San Diego
  - image: images/projects/crash-modeling.png
    title: Crash Modeling
    link_to: projects/boston-crash-modeling.html
    klass: web-design print
    desc: City of Boston
  - image: images/projects/drug-spending.png
    title: Drug Spending
    link_to: projects/drug-spending.html
    klass: brand
    desc: Medicare prescription expenditures
  - image: images/projects/election-transparency.png
    title: Election Transparency
    link_to: projects/election-transparency.html
    klass: development
    desc: County-level US election results
  - image: images/projects/foreign-travel.png
    title: Foreign Travel Expenditures
    link_to: projects/foreign-travel.html
    klass: web-design
    desc: ProPublica
  - image: images/projects/refugees.png
    title: Refugees
    link_to: projects/refugees.html
    klass: print brand
    desc: Internal Displacement
  - image: images/projects/usa-dashboard.png
    title: USA Dashboard
    link_to: projects/usa-dashboard.html
    klass: web-design
    desc: KPIs for the USA
  - image: images/projects/gerrymandering.png
    title: Gerrymandering
    link_to: projects/gerrymandering.html
    klass: web-design
    desc: Princeton Election Consortium


services:
  - icon: star
    title: data engineering
    desc:
  - icon: star
    title: machine learning
    desc:
  - icon: star
    title: data analysis
    desc:
  - icon: star
    title: visualization
    desc:
  - icon: star
    title: software engineering
    desc:

---


<div class='mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg' style='background-image: url({{ slide.bg}});'></div>
          <div class='small-title {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.small_title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a class='button {{ button.klass }}' href='{{ button.link_to }}'>{{ button.text }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<!--
<div class="four spacing"></div>

<div class="row">
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Creative design' desc='Est aperiam ex sint maiores aliquam delectus minima rerum et natus rerum sit quae nostrum.' icon_class='fa fa-flask' delay='0' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Creative design' desc='Est aperiam ex sint maiores aliquam delectus minima rerum et natus rerum sit quae nostrum.' icon_class='fa fa-paper-plane-o' delay='200' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Creative design' desc='Est aperiam ex sint maiores aliquam delectus minima rerum et natus rerum sit quae nostrum.' icon_class='fa fa-tablet' delay='400' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Creative design' desc='Est aperiam ex sint maiores aliquam delectus minima rerum et natus rerum sit quae nostrum.' icon_class='fa fa-comments-o' delay='600' shape_class='icon-text-circle' %}
  </div>
</div>

<div class="spacing"></div>
-->

<div class="full" style="background: #f5f5f5;">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Our mission" %}
      <div class="spacing"></div>
      <p>
        To be an inclusive community for data scientists and technologists to volunteer and collaborate on projects that make a positive impact on society.
      </p>
      <div class="three spacing"></div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Our projects" %}
      <div class="spacing"></div>
      <p>
        Data for Democracy looks for projects that have a strong collaborative nature, and leverage data and technology to create positive social impact. We engage in a mix of community-led projects, which are proposed and self-organized by Data for Democracy members, and partner-led projects, which involve more formal collaboration with city governments and local and international NGOs.
      </p>
      <div class="three spacing"></div>
    </div>
  </div>

  <div class="mod modGallery">
    <ul class="gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      {% for work in page.works %}
        <li class="{{ work.klass }}">
          <a href='{{ work.link_to }}'>
            <img alt="" src="{{ work.image }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title }}</h3>
                <p>{{ work.desc }}</p>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>


<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="What we can do" %}
      <div class='spacing'></div>
      <p>Data people have a lot to offer. We’re driven by a passion to find the truth. We understand how information can be used to make better decisions and improve our communities.</p>
      <p>Data for Democracy is an inclusive community for data scientists and technologists. It is a space for like-minded people to organize, to transform, to collaborate, and to support each other's projects. We help each other track down datasets, refine models, improve visualizations, team up on apps, debug code, promote work, and connect with communities who need our analysis. </p>
      <div class='three spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" alt="" src="images/hand-tablet.png" />
      <div class='three spacing'></div>
    </div>
    <div class='medium-6 columns'>
      {% for service in page.services %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>


<div class='full parallax' style='background-image: url(images/banners/hands-2400x1000.png); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="The Numbers" color="#fff" %}
      <div class='spacing'></div>
      <p class='centered-text' style='color: #ccc;'>
	Our group, formed in December 2016, has grown into an inclusive community of hundreds of active volunteers around the world, collaborating on mission-driven technology with impact.
      </p>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for milestone in page.milestones %}
      <div class='medium-4 large-4 columns'>
        <div class='mod modMilestone'>
          <i class='fa fa-{{milestone.icon}}'></i>
          <strong data-from='{{milestone.from}}' data-to='{{milestone.to}}'>&nbsp;</strong>
          <span>{{milestone.title}}</span>
          <div class='four spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='two spacing'></div>
</div>

<!--
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our team" %}
      <div class='spacing'></div>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
      </p>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for member in site.data.members %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar" alt="" src="{{ member.avatar }}" />
            <div class='overlay'>
              <div class='intro'>
                <h3>{{member.name}}</h3>
                <p>{{member.position}}</p>
                <ul class='socials'>
                  {% for social in member.socials %}
                    <li>
                      <a href='{{social.link}}'>
                        <i class='fa fa-{{social.icon}}'></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
-->

{% include our-partners.html %}


<div class='full no-padding' style='background: #fff'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p>Whether you’re an experienced data scientist looking for a side project, still learning, or just trying to figure out how you can help, we’re inviting you to join us.</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button' href='/contact.html'>Join us</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>
