// ==========================================================================
// Headlines
// ==========================================================================

.post {
	@include e(title) {
		@extend %hdln-prim;
		margin-bottom: em(70px, 42px);

		@include m(grouped) {
			@extend %hdln-prim;
			margin-bottom: 0;
		}

		&:hover {
			color: palette(grey, x-dark);
		}
	}
}