// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 50em;
	background: url('#{$path--rel}/backlit-keyboard.jpg');
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	margin-bottom: em(50px);
}

.hero-text{
	color: $offwhite;
	padding: 1em;
	font-weight: $font-weight--ultra-bold;
	font-size: 3em;
	text-align: center;
}
