// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 30em;
	background: url('#{$path--rel}/backlit-keyboard.jpg');
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	margin-bottom: em(10px);
}

.hero-text{
	color: $offwhite;
	padding: 1em;
	font-weight: $font-weight--ultra-bold;
	font-size: 3em;
	text-align: center;
}

@include mq(small){
	.hero {
		height: 40em;
		background: url('#{$path--rel}/backlit-keyboard.jpg');
		background-blend-mode: multiply;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		margin-bottom: em(10px);
	}

	.hero-text{

		padding: 0 .5em;

	}

}

@include mq(medium){
	.hero {
		height: 35em;
	}}
