// ==========================================================================
// Navbar
// ==========================================================================

.navbar {	
	position: relative;
	@include mq(small) { 
		margin-bottom: em(40px);
	}
	@include mq(medium) { 
		float: right;
		margin-top: em(9px);
		margin-bottom: em(24px);
	}
}