---
layout: blog
title: Blog
section_id: blog
---


{% for post in paginator.posts %}
  <div class='big mod modBlogPost'>
    <div class='images'>
      {% for image in post.images %}
        <div class='image'><img alt="" src="{{site.url}}/{{image}}" /></div>
      {% endfor %}
    </div>
    <div class='content'>
      <p class='info'>
        <span>{{post.date | date: "%B %d, %Y" }}</span>
        /
        <span>
          by {{post.author}}
        </span>
        /
        <span>
          <a href="#">4 comments</a>
        </span>
      </p>
      <h3><a href="{{post.url}}">{{post.title}}</a></h3>
      <p>{{post.excerpt}}</p>
      <div class='spacing'></div>
      <a class="button small" href="{{post.url}}">Read more</a>
    </div>
  </div>
{% endfor %}