---
layout: default
---
<div class= "hero">
	<div class="container">
		<p class="hero-text">Stand up. Step forward. Help out.</p>
		<div class="row">
		  <div class="col-sm-6">
		    <div class="card">
		      <div class="card-block">
		        <h3 class="card-title">Our Projects</h3>
		        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		        <a href="{{ "/projects/" | prepend: site.baseurl }}" class="btn btn-primary">Go to Projects</a>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6">
		    <div class="card">
		      <div class="card-block">
		        <h3 class="card-title">Our Partners</h3>
		        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		        <a href="{{ "/partners/" | prepend: site.baseurl }}" class="btn btn-primary">See our Partners</a>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>
<div class="container">
	<div class="page">

	  <header class="post__header">
	    <h1 class="headline-primary">{{ page.title }}</h1>
	  </header>

		<p>Data for Democracy's mission is to be an inclusive community for data scientists and technologists to volunteer and collaborate on projects that make a positive impact on society.
		</p>

		<p>Data people have a lot to offer. We’re driven by a passion to find the truth. We understand how information can be used to make better decisions and improve our communities.<p>




	  <!-- <article class="post__content">
	  {{ content }}
	  </article> -->

	</div>
</div>
