---
layout: default
---
<div class= "hero">
	<div class="container">
		<p class="hero-text">Stand up. Step forward. Help out.</p>
		<div class="row">
		  <div class="col-sm-6">
		    <div class="card">
		      <div class="card-block">
		        <h3 class="card-title">Special title treatment</h3>
		        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		        <a href="#" class="btn btn-primary">Go somewhere</a>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6">
		    <div class="card">
		      <div class="card-block">
		        <h3 class="card-title">Special title treatment</h3>
		        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		        <a href="#" class="btn btn-danger">Go somewhere</a>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>
<div class="container">
	<div class="page">

	  <header class="post__header">
	    <h1 class="headline-primary">{{ page.title }}</h1>
	  </header>




	  <!-- <article class="post__content">
	  {{ content }}
	  </article> -->

	</div>
</div>
