{% extends 'home/base.html' %}
{% block title %}About{% endblock %}
{% block about-bt %}active{% endblock %}

{% block body %}


<!-- Content -->
<div class="container text-justify">
    <div class="container-fluid bg-grey">
        <div class="row">
            <div class="col-sm-8">
                <h2>
                    <strong>About Us</strong>
                </h2><br>
                <p>
                    Data for Democracy is a community of data people volunteering on social impact projects.
                </p>
            </div>
            <div class="col-sm-8">
                <h2>
                    <strong>Our Mission</strong>
                </h2><br>
                <p>To be an inclusive community for data scientists and technologists to volunteer and collaborate
                    on projects that make a positive impact on society.
                </p>
            </div>
            <div class="col-sm-8">
                <h2>
                    <strong>Our History</strong>
                </h2><br>
                <p>In December 2016 we started an experiment. We wanted to see what would happen if like-minded people
                    from around the world gathered to work on technology that has an impact. As of the end of January
                    2017, our community has grown to 434 volunteers working on (how many?) projects.
                </p>
            </div>
            <div class="col-sm-8">
                <h2>
                    <strong>Our (need description) Partners</strong>
                </h2><br>
                <ul>
                    <li>
                        <a href="https://www.propublica.org/">ProPublica</a>
                    </li>
                    <li>
                        <a>City of Boston</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-8">
                <h2>
                    <strong>Our Technical Partners</strong>
                </h2><br>
                <ul>
                    <li>
                        <a href="https://data.world/">data.world</a>
                    </li>
                    <li>
                        <a href="https://www.dominodatalab.com/">Domino Data Labs</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}