<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Data for Democracy{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home:index' %}">
                    Data for Democracy<!--<img height="30" width="30" src="../../static/home/images/d4d.jpg" />-->
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="{% block home-bt %}{% endblock %}"><a href="{% url 'home:index' %}">HOME</a></li>
                    <li class="{% block about-bt %}{% endblock %}"><a href="{% url 'home:about' %}">ABOUT</a></li>
                    <li class="{% block projects-bt %}{% endblock %}"><a href="{% url 'home:projects' %}">PROJECTS</a></li>
                    <li class="{% block contactus-bt %}{% endblock %}"><a href="{% url 'home:contactus' %}">CONTACT US</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- D4D Logo -->
    <center>
        <img vspace="100" height="150" width="1000" src="https://cdn-images-1.medium.com/max/600/1*Tmaro76MHR_cQYljouoYIw@2x.png" />
    </center>
{% block body %}
{% endblock %}

</body>
</html>