{% extends 'home/base.html' %}
{% block title %}Contact Us{% endblock %}
{% block contactus-bt %}active{% endblock %}

{% block body %}
<div class="container text-justify">
    <div class="container-fluid bg-grey">
        <div class="row">
            <div class="col-sm-8">
                <h2>
                    <strong>Join Us</strong>
                </h2><br>
                <h1 class="font-size-h1 t10">
                    <strong>How can I get involved?</strong>
                </h1>
            </div>
            <div class="col-sm-8">
                <p>
                Whether you’re an experienced data scientist looking for a side project, still learning, or just trying
                to figure out how you can help, we’re inviting you to join us. This is an experiment to see how the
                data science community comes together. Email jonathon [at] datafordemocracy.org for an invitation.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}