// ==========================================================================
// Main Header
// ==========================================================================

.main-header {
  @extend %clearfix;
    @include mq(medium)  {
      height: 48px;
      background: palette(grey, lightest);
    }

}
