// ==========================================================================
// Main Header
// ==========================================================================

.main-header {
  @extend %clearfix;
  margin-top: -20px;
  padding-top: 20px;
  background: $mdblack;
  @include mq(medium)  {
    height: 48px;
    background: $mdblack;
  }


}

header.main-header{
  padding-top: 30px;
}
