// ==========================================================================
// Sticky footer styles
// ==========================================================================

@include mq(medium) {
	html, 
	body {
		height: 100%;
	}
	.wrapper {
		min-height: 100%;
		margin: 0 auto -10em;
	}
	footer, 
	.push {
		height: em(197px);
	}
}